<span id="shaded-in-summary-container" class="current-summary other-summary"
  ><%= locationName %>, <%= stateAbbreviation %> As of <%= currentTime %></span
>
<div class="flex-container">
  <div id="summary-div">
    <span class="current-summary temperature-summary"
      ><%= currentTemp %>°</span
    >
    <span class="current-summary other-summary"
      ><%= weatherDescription %></span
    >
    <span class="current-summary other-summary">
      Max <%= maxTemp %>° • Min <%= minTemp %>°
    </span>
  </div>
  <div id="icon-div">
    <span
      ><img
        src="https://openweathermap.org/img/wn/<%= weatherIcon %>@4x.png"
    /></span>
  </div>
</div>
